
prjBackgroundManagementSystem/obj/Debug/prjBackgroundManagementSystem.csproj.AssemblyReference.cache
prjBackgroundManagementSystem/obj/Debug/prjBackgroundManagementSystem.csproj.GenerateResource.cache
Onique.EStore.SqlDataLayer/obj/Debug/Onique.EStore.SqlDataLayer.csproj.AssemblyReference.cache
.vs/slnBackgroundManagementSystem/v17/.suo
.vs/slnBackgroundManagementSystem/FileContentIndex/a64a0a91-eecc-4f2b-b1d0-8cdecf094eb4.vsidx
.vs/slnBackgroundManagementSystem/FileContentIndex/2420e91e-6033-4487-a95b-f6d4dfff6eb8.vsidx
prjBackgroundManagementSystem/obj/Debug/prjBackgroundManagementSystem.csproj.GenerateResource.cache
prjBackgroundManagementSystem/obj/Debug/prjBackgroundManagementSystem.csproj.AssemblyReference.cache
*.cache
prjBackgroundManagementSystem/obj/Debug/prjBackgroundManagementSystem.csproj.AssemblyReference.cache
*.cache
Onique.EStore.SqlDataLayer/obj/Debug/Onique.EStore.SqlDataLayer.csproj.AssemblyReference.cache
*.cache
.vs/slnBackgroundManagementSystem/FileContentIndex/1b9009c3-e738-4e36-a88b-5440f5d261bf.vsidx
*.vsidx
.vs/slnBackgroundManagementSystem/v17/.suo
Onique.EStore.SqlDataLayer/obj/Debug/Onique.EStore.SqlDataLayer.csproj.AssemblyReference.cache
prjBackgroundManagementSystem/obj/Debug/prjBackgroundManagementSystem.csproj.AssemblyReference.cache
prjBackgroundManagementSystem/obj/Debug/prjBackgroundManagementSystem.csproj.GenerateResource.cache
.vs/slnBackgroundManagementSystem/v17/.suo
Onique.EStore.SqlDataLayer/obj/Debug/Onique.EStore.SqlDataLayer.csproj.AssemblyReference.cache
prjBackgroundManagementSystem/obj/Debug/prjBackgroundManagementSystem.csproj.AssemblyReference.cache
prjBackgroundManagementSystem/obj/Debug/prjBackgroundManagementSystem.csproj.GenerateResource.cache
*.cache
*.cache
.vs/slnBackgroundManagementSystem/v17/.suo
