<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AppDbContext" connectionString="data source=.;initial catalog=Onique;persist security info=True;user id=sa5;password=sa5;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>